@charset "utf-8";

.p-page-header {
	//page-header内
	position: relative;
	display:block; 
	overflow:hidden;
	padding: 3em 0;

	&_posttitle {
		font-size: 1.4rem;
		line-height: 1.2;
		margin-bottom: 0.5em;
		@media screen and (min-width: $md-min) {
			font-size: 1.75rem;
		}
	}
	&_title {
		@media screen and (min-width: $xl-min) {
			max-width: 1140px;
			width: 100%;
		}
		&:first-child {
			margin: 0 auto;
			font-size: 1.75rem;
			line-height: 1.4;
		}
	}
	.l-container {
		position: relative;
		z-index: 1000;
	}
	.p-entry {
		// color: #fff;
		margin-top: 1em;
	}
} //.p-page-header
